@model IEnumerable<MusicProject.Models.Company>

@{
    ViewBag.Title = "Index";
}

<h2>List Of Companies</h2>
<div>
    @using (Html.BeginForm())
    {
        <p>
            Search: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
</div>
<p>
    @Html.ActionLink("Add New Company", "Create", "Companies", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("NAME", "Index", new { name = ViewBag.CompanySorting })
        </th>
        <th>
            ADDRESS
        </th>
        <th>
            PHONE NUMBER
        </th>
        <th>
            WEBSITE
        </th>
        <th>
            @Html.ActionLink("FOUND IN", "Index", new { name = ViewBag.DateSorting })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Found)
        </td>
        @if (ViewBag.displayMenu == "Yes")
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CompanyID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CompanyID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CompanyID })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CompanyID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CompanyID })
            </td>
        }
    </tr>
}

</table>
