@model IEnumerable<MusicProject.Models.Composer>

@{
    ViewBag.Title = "Index";
}

<h2>List Of Composers</h2>
<div>
    @using (Html.BeginForm())
    {
        <p>
            Search: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
</div>
<p>
    @Html.ActionLink("Add New Composer", "Create", "Composers", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.ActionLink("FIRST NAME", "Index", new { name = ViewBag.FnameSorting })
        </th>
        <th>
            @Html.ActionLink("LAST NAME", "Index", new { name = ViewBag.LnameSorting })
        </th>
        <th>
            @Html.ActionLink("GENRES", "Index", new { name = ViewBag.GenreSorting })
        </th>        
        <th>
            @Html.ActionLink("MANAGE BY", "Index", new { name = ViewBag.CompanySorting })
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genres)
        </td>
        <td>
            <a href="Companies/Details/@item.CompanyID">@Html.DisplayFor(modelItem => item.Companies.Name)</a>
        </td>
        <td>
            @Html.ActionLink("Details", "Detail", new { id = item.ComposerID })
        </td>
        @if (ViewBag.displayMenu == "Yes")
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ComposerID }) |                
                @Html.ActionLink("Delete", "Delete", new { id = item.ComposerID })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ComposerID })
            </td>
        }
    </tr>
}

</table>
