@model IEnumerable<MusicProject.Models.Composer>

@{
    ViewBag.Title = "Index";
}

<h2>List Of Composers</h2>
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            <p>
                Search: <input type="text" name="searchString" data-autocomplete-source="@Url.Action("QuickSearch", "Composers")" />
                <input type="submit" value="Search" class="btn btn-default btn-sm" />
            </p>
        }
    </div>
    <p>
        @if (ViewBag.displayMenu == "Admin" || ViewBag.displayMenu == "Member")
        {
            @Html.ActionLink("Add New Composer", "Create", "Composers", null, new { @class = "btn btn-primary" })
        }
    </p>
</div>
    <table class="table table-striped table-hover">
        <tr class="danger">
            <th>
                @Html.ActionLink("FULL NAME", "Index", new { name = ViewBag.FnameSorting, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("GENRES", "Index", new { name = ViewBag.GenreSorting, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("MANAGE BY", "Index", new { name = ViewBag.CompanySorting, currentFilter = ViewBag.CurrentFilter })
            </th>
            @if (ViewBag.displayMenu == "Admin")
            {
                <th>
                    @Html.ActionLink("CREATED/MODIFIED", "Index", new { name = ViewBag.CreateSorting, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th></th>
            }
            else if (ViewBag.displayMenu == "Member")
            {
                <th></th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.FullName, "Details", new { id = item.ComposerID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genres)
                </td>
                <td>
                    <a href="Companies/Details/@item.CompanyID">@Html.DisplayFor(modelItem => item.Companies.Name)</a>
                </td>
                @if (ViewBag.displayMenu == "Admin")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateOrUpdate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ComposerID }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ComposerID }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                }
                else if (ViewBag.displayMenu == "Member")
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ComposerID }, new { @class = "btn btn-primary btn-sm" })
                    </td>
                }
            </tr>
        }

    </table>

    @section Scripts {
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/Scripts/App/MusicScripts.js"></script>
    }
