@model IEnumerable<MusicProject.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2>List Of Songs</h2>
<div>
    @using (Html.BeginForm())
    {
        <p>
            Search: @Html.TextBox("SearchString")            
            <input type="submit" value="Search" />
        </p>
    }
</div>
<p style="color:blue">
   
    <button type="button">@Html.ActionLink("Add New Song", "Create")</button>
</p>
<table class="table">
    <tr bgcolor = "yellow">
        <th>
            @*
            @Html.DisplayNameFor(model => model.Title) *@
            @Html.ActionLink("Song Title", "Index", new { name = ViewBag.TitleSorting })
        </th>
        <th>@*
            @Html.DisplayNameFor(model => model.Genres) *@
            @Html.ActionLink("Genres", "Index", new { name = ViewBag.GenreSorting })
        </th>
        <th>
            @Html.ActionLink("In Album", "Index", new { name = ViewBag.AlbumSorting })
        </th>
        <th>
            @Html.ActionLink("Sing by", "Index", new { name = ViewBag.ArtistSorting })
        </th>
        <th>
            @Html.ActionLink("Compose by", "Index", new { name = ViewBag.ComposerSorting })
        </th>
        <th>
            @Html.ActionLink("Release in", "Index", new { name = ViewBag.DateSorting })
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Title)*@
            @Html.ActionLink(item.Title, "Details", new { id = item.SongID })
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Genres)
        </td>

        <td>
            @*@Html.DisplayFor(modelItem => item.Albums.Title)*@
            <a href="Albums/Details/@item.AlbumID">@Html.DisplayFor(modelItem => item.Albums.Title)</a>
        </td>

        <td>
            <a href="Artists/Details/@item.ArtistID">@Html.DisplayFor(modelItem => item.Artists.FullName)</a>
        </td>

        <td>
            <a href="Composers/Details/@item.ComposerID">@Html.DisplayFor(modelItem => item.Composers.FullName)</a>
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Release)
        </td>

        @if (ViewBag.displayMenu == "Yes")
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SongID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SongID })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SongID })
            </td>
        }


    </tr>
}

</table>
