@model IEnumerable<MusicProject.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2>List Of Songs</h2>
<div>
    @using (Html.BeginForm("Index", "Songs", FormMethod.Get))
    {
        <p>
            Search: <input type="text"  name="searchString" object="ViewBag.CurrentFilter as string" data-autocomplete-source="@Url.Action("QuickSearch", "Songs")" />         
            <input type="submit" value="Search" />
        </p>
    }
</div>

<p>
    @if (ViewBag.displayMenu == "Admin" || ViewBag.displayMenu == "Member")
    {
        @Html.ActionLink("Add New Song", "Create", "Songs", null, new { @class = "btn btn-primary btn-large" })
    }
</p>

<table class="table">
    <tr bgcolor = "yellow">
        <th>
            @*
            @Html.DisplayNameFor(model => model.Title) *@
            @Html.ActionLink("SONG TITLE", "Index", new { sortOrder = ViewBag.TitleSorting, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>@*
            @Html.DisplayNameFor(model => model.Genres) *@
            @Html.ActionLink("GENRES", "Index", new { sortOrder = ViewBag.GenreSorting, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("IN ALBUMS", "Index", new { sortOrder = ViewBag.AlbumSorting, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("SING BY", "Index", new { sortOrder = ViewBag.ArtistSorting, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("COMPOSE BY", "Index", new { sortOrder = ViewBag.ComposerSorting, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("RELEASE IN", "Index", new { sortOrder = ViewBag.DateSorting, currentFilter = ViewBag.CurrentFilter })
        </th>

        @if (ViewBag.displayMenu == "Admin")
        {
            <th>
                @Html.ActionLink("CREATED/MODIFIED", "Index", new { sortOrder = ViewBag.DateSorting, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        }
        else if (ViewBag.displayMenu == "Member")
        {
            <th></th>
        }        
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Title)*@
            @Html.ActionLink(item.Title, "Details", new { id = item.SongID })
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Genres)
        </td>

        <td>
            @*@Html.DisplayFor(modelItem => item.Albums.Title)*@
            <a href="Albums/Details/@item.AlbumID">@Html.DisplayFor(modelItem => item.Albums.Title)</a>
        </td>

        <td>
            <a href="Artists/Details/@item.ArtistID">@Html.DisplayFor(modelItem => item.Artists.FullName)</a>
        </td>

        <td>
            <a href="Composers/Details/@item.ComposerID">@Html.DisplayFor(modelItem => item.Composers.FullName)</a>
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Release)
        </td>

        @if (ViewBag.displayMenu == "Admin")
        {
            <td>
                @Html.DisplayFor(modelItem => item.CreateOrUpdate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SongID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SongID })
            </td>
        }
        else if (ViewBag.displayMenu == "Member")
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SongID })
            </td>
        }
    </tr>
}

</table>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/App/MusicScripts.js"></script>
}
