@model IEnumerable<MusicProject.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2>List Of Songs</h2>
<div>
    @using (Html.BeginForm())
    {
        <p>
            Search: <input type="text"  name="searchString" data-autocomplete-source="@Url.Action("QuickSearch", "Songs")" />           
            <input type="submit" value="Search" />
        </p>
    }
</div>

<p>   
    @*Add new song button*@
    @Html.ActionLink("Add New Song", "Create", "Songs", null, new { @class = "btn btn-primary btn-large" })
</p>

<table class="table">
    <tr bgcolor = "yellow">
        <th>
            @*
            @Html.DisplayNameFor(model => model.Title) *@
            @Html.ActionLink("SONG TITLE", "Index", new { name = ViewBag.TitleSorting }, "searchString")
        </th>
        <th>@*
            @Html.DisplayNameFor(model => model.Genres) *@
            @Html.ActionLink("GENRES", "Index", new { name = ViewBag.GenreSorting })
        </th>
        <th>
            @Html.ActionLink("IN ALBUMS", "Index", new { name = ViewBag.AlbumSorting })
        </th>
        <th>
            @Html.ActionLink("SING BY", "Index", new { name = ViewBag.ArtistSorting })
        </th>
        <th>
            @Html.ActionLink("COMPOSE BY", "Index", new { name = ViewBag.ComposerSorting })
        </th>
        <th>
            @Html.ActionLink("RELEASE IN", "Index", new { name = ViewBag.DateSorting })
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Title)*@
            @Html.ActionLink(item.Title, "Details", new { id = item.SongID })
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Genres)
        </td>

        <td>
            @*@Html.DisplayFor(modelItem => item.Albums.Title)*@
            <a href="Albums/Details/@item.AlbumID">@Html.DisplayFor(modelItem => item.Albums.Title)</a>
        </td>

        <td>
            <a href="Artists/Details/@item.ArtistID">@Html.DisplayFor(modelItem => item.Artists.FullName)</a>
        </td>

        <td>
            <a href="Composers/Details/@item.ComposerID">@Html.DisplayFor(modelItem => item.Composers.FullName)</a>
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Release)
        </td>

        @if (ViewBag.displayMenu == "Yes")
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SongID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SongID })
            </td>
        }
        else if (ViewBag.displayMenu == "No")
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SongID })
            </td>
        }
    </tr>
}

</table>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/App/MusicScripts.js"></script>
}
