@model MusicProject.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>"@Html.DisplayFor(model => model.Title)" Album</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                Artist
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artists.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Genres)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genres)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Producers)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Producers)
            </dd>

            <dt>
                Labels by
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Companies.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Release)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Release)
            </dd>
        </dl>
    </div>

    @*Picture as a sample*@
    <div class="col-md-4" style="padding:10px">
        <img src=@ViewBag.ImageData alt="" width="300" />
    </div>
</div>

<h4>LIST OF SONG</h4>

<div>
    <table class="table">
        <tr>
            <th>TITLE</th>
            <th>GENRES</th>
            <th>COMPOSE BY</th>
            <th>RELEASE</th>
        </tr>
        @foreach (var al in Model.Songs)
            {
            <tr>
                <td>@al.Title</td>
                <td>@al.Genres</td>
                <td>@al.Composers.FullName</td>
                <td>@Html.DisplayFor(modelItem => Model.Release)</td>
            </tr>
        }
    </table>
</div>

<div class="form-group">
    <div>
        @using (Html.BeginForm("Edit", "Albums", new { id = Model.AlbumID }, method: FormMethod.Get))
        {
            if (ViewBag.displayMenu == "Member")
            {
                <input type="submit" value="Edit" class="btn btn-default" />
            }
            @Html.ActionLink("Back To List", "Index", "Albums", null, new { @class = "btn btn-default" })
        }
    </div>
</div>
