@model MusicProject.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>"@Html.DisplayFor(model => model.Title)" Album</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Artist
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artists.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producers)
        </dd>

        <dt>
            Labels by
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Companies.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Release)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Release)
        </dd>
    </dl>
</div>

<h4>The List of Songs</h4>

<div>
    <table class=" table">
        <tr>
            <th>TITLE</th>
            <th>RELEASE</th>
        </tr>
        @foreach (var al in Model.Songs)
        {
            <tr>
                <td>@al.Title</td>                
                <td>@al.Release</td>
            </tr>
        }
    </table>
</div>

<div>
    @using (Html.BeginForm("Edit", "Albums", new { id = Model.AlbumID }, method: FormMethod.Get))
    {
        <input type="submit" value="Edit" class="btn btn-default" />
        @Html.ActionLink("Cancel", "Index", "Albums", null, new { @class = "btn btn-default" })
    }
</div>
