@model IEnumerable<MusicProject.Models.Album>

@{
    ViewBag.Title = "Aldbum's List";
}

<h2>List Of Album</h2>
<div>
    @using (Html.BeginForm())
    {
        <p>
            Search: <input type="text" name="searchString" data-autocomplete-source="@Url.Action("QuickSearch", "Albums")" />
            <input type="submit" value="Search" />
        </p>
    }
</div>

<p>
    @Html.ActionLink("Add New Album", "Create", "Albums", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ALBUM TITLE", "Index", new { name = ViewBag.TitleSorting })
        </th>
        <th>
            @Html.ActionLink("ARTIST", "Index", new { name = ViewBag.ArtistSorting })
        </th>
        <th>
            @Html.ActionLink("GENRES", "Index", new { name = ViewBag.GenreSorting })
        </th>
        <th>
            @Html.ActionLink("PRODUCER", "Index", new { name = ViewBag.ProducerSorting })
        </th>
        <th>
            @Html.ActionLink("LABELS BY", "Index", new { name = ViewBag.CompanySorting })
        </th>
        <th>
            @Html.ActionLink("RELEASE", "Index", new { name = ViewBag.DateSorting })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
               @Html.ActionLink(item.Title, "Details", new { id = item.AlbumID })
            </td>
            <td>
               <a href="Artists/Details/@item.ArtistID">@Html.DisplayFor(modelItem => item.Artists.FullName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producers)
            </td>
            <td>
                <a href="Artists/Details/@item.CompanyID">@Html.DisplayFor(modelItem => item.Companies.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release)
            </td>

           @if (ViewBag.displayMenu == "Yes")
           {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AlbumID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AlbumID })
                </td>
           }
           else
           {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AlbumID })
                </td>
           }
            
        </tr>
    }

</table>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/App/MusicScripts.js"></script>
}
